*.jpg
*.png
*.pb
*.xml
*.zip
*.sframe
*.csv
*.meta
*.data
*.index
*.ckpt
*.bin
*.json
*.pyc
*.ini
*.data-00000-of-00001
*.model
*.mlmodel
*.record
*.tflite
*.pickle
*.h5
*.hdf5

trained_models/*
results/*
input_video/*
data/*
applications/*
simulations/*
.idea/*
